package trabalhofac;

import javax.swing.JOptionPane;

public class Trabalhofac {
    
    
    public static void main(String[] args) {
     
            int caixas_de_cerveja[][] = new int[3][5];
            int compartimentos[][] = new int[3][5];
            int i , j;
            for(i=0;i<3;i++){
                for(j=0;j<5;j++){
                    compartimentos[i][j] = (1+i)*1000+1+j;
                }
            }
                                
/* 1) Solicite ao usuário a quantidade de caixas de cerveja em cada compartimento, a mensagem que aparece para o usuário deve seguir EXATAMENTE o seguinte modelo:*/

                for(i=0; i<3; i++){
                    for (j=0; j<5; j++){
                        caixas_de_cerveja[i][j] = Integer.parseInt(JOptionPane.showInputDialog("Olá, insira a quantidade de caixas de cerveja para o compartimento: "+compartimentos[i][j]+":"));
                    }
                }
                /*for(i=1; i<2; i++){
                    for (j=0; j<5; j++){
                        caixas_de_cerveja[i][j] = Integer.parseInt(JOptionPane.showInputDialog("Olá, insira a quantidade de caixas de cerveja para o compartimento: 2001 ao 2005"));
                    }
                }
                for(i=2; i<3; i++){
                    for (j=0; j<5; j++){
                        caixas_de_cerveja[i][j] = Integer.parseInt(JOptionPane.showInputDialog("Olá, insira a quantidade de caixas de cerveja para o compartimento: 3001 ao 3005"));
                    }
                }*/
                
/* 2) Qual é o número total de caixas de cerveja no armazém ?*/
            
            int somacaixas = 0;
            for(i=0; i<3; i++){
                    for (j=0; j<5; j++){
                        somacaixas = somacaixas + caixas_de_cerveja[i][j];
                    }
                } 
                JOptionPane.showMessageDialog(null, "O numero de caixas no armazem é: " +somacaixas);
                 
/* 3) O armazém está desorganizado, calcule o número ideal de caixas de cerveja que deveriam estar alocados em cada compartimento. (Calcule a média).*/

            double mediacaixas = 0;
                    mediacaixas = somacaixas / 15;
                    JOptionPane.showMessageDialog(null, "O numero de caixas ideal para cada compartimento é: " +mediacaixas);
           
/* 4) Qual é o número do compartimento que MAIS tem caixas de cerveja ?*/
            
            int maiscx = 0;
            int pesq4 = 0;
                for(i=0; i<3; i++){
                    for (j=0; j<5; j++){
                        if (caixas_de_cerveja[i][j] > maiscx){
                            maiscx = caixas_de_cerveja[i][j];
                            caixas_de_cerveja[i][j] = compartimentos[i][j];
                            pesq4 = compartimentos[i][j];
                        }
                    }
                }
                JOptionPane.showMessageDialog(null, "O compartimento que contém mais caixas é : "+ pesq4 + ".");
                  
/*5) Qual é o número do compartimento que MENOS tem caixas de cerveja ?*/
                
            int menor_h = 9999;
            int pesq5 = 0;
                for(i=0; i<3; i++){
                    for (j=0; j<5; j++){
                        if (caixas_de_cerveja[i][j] < menor_h){
                            menor_h = caixas_de_cerveja[i][j];
                            caixas_de_cerveja[i][j] = compartimentos[i][j];
                            pesq5 = compartimentos[i][j];    
                        }
                    }
                }
                JOptionPane.showMessageDialog(null, "Este compartimento que contém menos caixa é: " + pesq5 + ".");
                 
/*6) Peça que o usuário informe o número de um dos compartimentos(exemplo 1003), diga quantas caixas de cerveja tem neste compartimento. */
               

            int result = 0;
            int pesq = Integer.parseInt(JOptionPane.showInputDialog(null,"Iinforme o número de um dos compartimento: "));  
                    for ( i = 0; i < 3; i++) {  
                        for ( j = 0; j < 5; j++) {  
                            if (pesq==compartimentos[i][j]) {  
                                compartimentos[i][j] = caixas_de_cerveja[i][j];
                                result = caixas_de_cerveja[i][j];
                        }  
                    }  
                }
                    JOptionPane.showMessageDialog(null, "Este compartimento contém " + result + " caixas de cerveja.");  
            
                
/*7) Mostre todas as quantidades de caixas de cerveja ordenadas em apenas 1 mensagem. Para isso coloque todas as quantidades em um vetor e ordene com o BubbleSort.*/

            int troca, fim, p, aux;
            int vetorOrdenar[] = new int[15];
            int vetor7 = 0;
                for(i=0; i<3; i++){
                    for (j=0; j<5; j++){
                        vetorOrdenar[vetor7] = caixas_de_cerveja[i][j];
                        vetor7++;
                    }   
                }
                troca = 1;
                fim = 15 - 1;
                while(troca==1){
                troca = 0;
                for(p=0; p<fim;p++){
                    if (vetorOrdenar[i] > vetorOrdenar[i+1]){
                    aux = vetorOrdenar[i];
                    vetorOrdenar[i] = vetorOrdenar[i+1];
                    vetorOrdenar[i+1]=aux;
                    troca = 1;
                        }
                    }
                }
                String concat = "";
                for (i=0;i<15;i++){
                    concat = concat + vetorOrdenar[i] +" ,";
                    
                }
                JOptionPane.showMessageDialog(null, "!" +concat);  
              
/*8) Mostre a porcentagem do número de compartimentos em relação ao total (15 compartimentos), que possuem mais caixas de cerveja que a média do armazém.*/
            
            
            
/*9) Mostre o número do compartimento que MENOS tem caixas de cerveja na Prateleira 2*/            
            
            int menos9 = 1;
            int pesq9 = 0;
            int linmaior = 0;
            int colmaior = 0;
                for(i=1; i<=1; i++){
                    for (j=0; j<5; j++){
                        if (caixas_de_cerveja[i][j] > menos9){
                            menos9 = caixas_de_cerveja[i][j];
                            linmaior = i;
                            colmaior = j;
                            caixas_de_cerveja[i][j] = compartimentos[i][j];
                            pesq9 = compartimentos[i][j];
                            }
                        }
                    }
                JOptionPane.showMessageDialog(null, "O compartimento que contém mais caixas é : "+ pesq9 + ".");
            
/*10) Mostre o número do compartimento que MAIS tem caixas de cerveja na Prateleira 3*/
            
            int mais10 = 99999;
            int pesq10 = 0;
            int linmenor = 0;
            int colmenor = 0;
                for(i=2; i<=2; i++){
                    for (j=0; j<5; j++){
                        if (caixas_de_cerveja[i][j] < mais10){
                            mais10 = caixas_de_cerveja[i][j];
                            linmenor = i;
                            colmenor = j;
                            caixas_de_cerveja[i][j] = compartimentos[i][j];
                            pesq10 = compartimentos[i][j];    
                        }
                    }
                }
                JOptionPane.showMessageDialog(null, "Este compartimento que contém menos caixa é: " + pesq10 + ".");  
    }  
}

   

    
    

